<h2> <% if session[:user_id] != nil %> Welcome! <%= @user.username %> 
		<%else%> Welcome Anonymous 
		<%end%>
</h2>


<% if session[:user_id] == nil %>
	<a href="/login">Login</a>
	<a href="/signup">Sign up</a>
<% elsif session[:user_id] != nil %>
	<a href="/logout">Logout</a>
<% end %>

<div>
	
	
	
</div>
