<div class="centerForm">
	<div class="mainFormBlock">
		<div class="form-style-6">
			<br><h3 class="formTitle">Log in!</h3>

			<form action="/sessions" method="POST">
				<label for="email"></label>
				<input type="email" name="email" placeholder="Email"><br>
				
				<label for="password"></label>
				<input type="password" name="password" placeholder="Password"><br>
				
				<input type="submit" value="Log in">
			</form>
		</div>
	</div>
</div>