<div class="centerForm">
	<div class="mainFormBlock">

			<br><h3 class="formTitle">Log in!</h3>

			<form action="/sessions" method="POST">
				<label for="email">Email</label>
				<input type="email" name="email"><br>
				
				<label for="password">Password</label>
				<input type="password" name="password"><br>
				
				<input type="submit" value="Log in">
			</form>

	</div>
</div>
