<div class="centerForm">
	<div class="mainFormBlock">
		
			<br><h3 class="formTitle">Sign Up!</h3>

				<form action="/signup" method="POST">
					
					<label for="fname"></label>
					<input type="text" name="fname" placeholder="First Name"><br>
					
					<label for="lname"></label>
					<input type="text" name="lname" placeholder="Last Name"><br>
					
					<label for="password"></label>
					<input type="password" name="password" placeholder="Password"><br>
					
					<label for="username"></label>
					<input type="text" name="username" placeholder="Username"><br>
					
					<label for="email"></label>
					<input type="email" name="email" placeholder="Email"><br>
					
					<input type="submit" value="Sign Up">
				</form>


	</div>
</div>