<h1>List of Users</h1>

<% @users.each do |user| %>

	<p> 
		<a href= "/users/<%= user.id %>"><%= user.username%></a>
		<% if current_user and current_user != user %>
			(<a href="/follow/<%= user.id %>">follow</a>)
		<%end%>
	</p>
	
<% end %>