body {
	font-family: arial;
	margin: 0;
	background-image: url('../imgs/background_image_marvel.jpg');
	background-repeat: no-repeat;
}

header {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #CCC;
}

nav{
	font-family: 'Luckiest Guy';
	font-size: .8em;
	font-style: oblique;
	margin: 15px;
	margin-bottom: 1em;
	float: right;
}

#welcome{
	float: left;
	margin-left: 10px;
	margin-top: .7em;
	letter-spacing: .1em;
}

nav a{
	text-decoration: none;
	padding: 5px;
	font-size: 1.2em;
	letter-spacing: .2em;
	color: orange;
}

a:hover{
	color: red;
}

.bodycenterToPage{
	margin-top: 25px;
	display: inline-block;
	text-align: center;
}

#news{
	text-align: left;
	width: 800px;
	padding: 10px;
	background-color: #88F7A6;
	padding: 0;
}

/****** Profile Page *******/
#profileBox{
	text-align: center;
}

#profile{
	margin-top: 80px;
	margin-left: 400px;
	background-color: #88F7A6;
	border:solid black 10px;
	width: 450px;
}

#profileCenter{
	padding: 10px;
}

#profileBody{
	text-align: left;
}
/**************************/
.center{
	text-align: center;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.submitForm{
	height: 80px;
	background-color: #CCC;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.mainBody{
	border: solid black 8px;
	border-top-right-radius: 18px;
	border-top-left-radius: 18px;
}

/*Centering the Form Pages*/

.centerForm{
	text-align: center;
}

.mainFormBlock{
	background-image: url('../imgs/background_image_dc2.jpg'); 
	font-size: 1.75em;
	margin-top: 180px;
	padding-bottom: 10px;
	border-top: solid black 15px;
	border-bottom: solid black 15px;
}

.formTitle{
	margin-top: 0;
	margin-bottom: .2em;
}

.userPosts{
	/*border-top: solid black 5px;*/
	border-bottom: solid black 5px;
}

/****** Rack-Flash ******/


/****** Fonts ******/

a{
	color: white;
	-webkit-text-stroke-width: .05em;
	-webkit-text-stroke-color: black;
	text-decoration: none;
}

h3, h1{
	font-family: 'Luckiest Guy';
	color: orange;
	-webkit-text-stroke-width: .05em;
	-webkit-text-stroke-color: black;
	letter-spacing: .1em;
}

li{
	font-family: 'Luckiest Guy';
	font-size: 1.3em;
	list-style-type: circle;	
}

p{
	font-family: 'Luckiest Guy';
	font-size: 1.3em;
	color: red;
	/*-webkit-text-stroke-width: .05em;*/
	-webkit-text-stroke-color: black;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
}

#postBody{
	font-family: arial;	
	margin-top: 0;
	font-size: .9em;
	color: black;
}

#posts{
	letter-spacing: .1em;
}