body {
	font-family: arial;
	margin: 0;
	background-image: url('../imgs/background_image_marvel.jpg');
	background-repeat: no-repeat;
}

header {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid #CCC;
}

nav{
	font-size: .9em;
	margin-top: 15px;
	margin: 15px;
	float: right;
}

#welcome{
	float: left;
	margin-left: 10px;
	letter-spacing: .1em;
}

nav a{
	text-decoration: none;
	padding: 5px;
	font-size: 1.2em;
	letter-spacing: .2em;
	color: orange;
}

a:hover{
	text-decoration: underline;
}

a{
	color: red;
	-webkit-text-stroke-width: .05em;
	-webkit-text-stroke-color: black;
	text-decoration: none;
}

.bodycenterToPage{
	margin-top: 25px;
	display: inline-block;
	text-align: center;
}

#news{
	text-align: left;
	width: 800px;
	padding: 10px;
	background-color: #88F7A6;
}

#profile{
	background-color: #88F7A6;	
}

.center{
	text-align: center;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

.submitForm{
	height: 80px;
	background-color: #CCC;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.mainBody{
	border: solid black 3px;
	border-top-right-radius: 13px;
	border-top-left-radius: 13px;
}

/*Centering the Form Pages*/

.centerForm{
	text-align: center;
}

.mainFormBlock{
	background-color: #88F7A6;
	font-size: 1.75em;
	margin-top: 180px;
	padding-bottom: 10px;
	border-top: solid black 3px;
	border-bottom: solid black 3px;
}

.formTitle{
	margin-top: 0;
	margin-bottom: .2em;
}

/****** Rack-Flash ******/


/****** Fonts ******/

h3, h1{
	font-family: 'Luckiest Guy'
}

p{
	font-family: 'Luckiest Guy';
	font-size: 1.3em;
	color: red;
	-webkit-text-stroke-width: .05em;
	-webkit-text-stroke-color: black;
	margin-bottom: 0;
}

#postBody{
	font-family: arial;	
	margin-top: 0;
	font-size: .9em;
	color: black;
}

#posts{
	letter-spacing: .1em;
}

